<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <title>StreamedBy</title>
  </head>
  <body >
    <div id="banner">
      <video id="test_one" class="test-video" width="1" height="1"></video>
      <video id="test_two" class="test-video" width="1" height="1"></video>
      <video id="test_three" class="test-video" width="1" height="1"></video>
      <video id="test_four" class="test-video" autoplay muted playsinline loop></video>
      <video id="ap-test"></video>
    </div>
  </body>
</html>
