html, body {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

.banner {
  position: relative;
  margin: 0;
  width: 320px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black; }

.sound {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(volume-off.svg); }

.sound.on {
  background-image: url(volume.svg); }

.sound, .play {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 7px;
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3)); }

.fallback, video {
  position: absolute;
  left: 0;
  top: 0px;
  width: 320px;
  height: 400px; }

.fallback {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.logo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 160px;
  transition: opacity .5s ease-out;
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3)); }

.hidden {
  opacity: 0;
  pointer-events: none; }

.lesmer {
  position: relative;
  background-color: #ffc525;
  width: 120px;
  margin: 40px auto;
  padding: 15px 0px;
  height: auto;
  transition: background-color .5s ease-out;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
  display: none; }
  .lesmer img {
    width: 72%;
    display: block;
    margin: 0% auto; }
  .lesmer:hover {
    background-color: #be8b00; }

.banner.ended .logo {
  width: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 70px; }

.banner.ended .lesmer {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 220px;
  display: block; }

.banner.noautoplay .play {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.3)); }
