#banner {
  margin: 50px 60px;
}
.test-video {
  height: auto;
  display: block;
}
.sound, .playbtn {
  width: 100px;
  height: 100px;
}
.sound {
  background-color: black;
}
.playbtn {
  background-color: green;
}
